#Terraform Local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

#Terraform files that may contain secrets
*tfvars
*tfvars.json

#Terraform Plan files
tfplan
*.tfplan

#Override Files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#Local Environment files
.env

#OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea

#Python
__pycache__
*.pyc
venv
.venv
node_modules
dist
build
*.log
.env.*
.aws
*.key
*.pem

#Node
node_modules/
dist/
build/